.App {
  text-align: center;
}

.delete {
  margin-left: 20px;
}

.delete:hover {
  cursor: pointer;
}

.img {
  width: 20px;
}

.word {
  margin-top: 20px;
}

.thing {
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

}
.title {
  font-family: 'Permanent Marker', cursive;
}