.App {
  text-align: center;
}

.delete {
  margin-left: 20px;
}

.delete:hover {
  cursor: pointer;
}

.img {
  width: 20px;
}

.thing {
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonadd {
  border: none;
  background-color: white;
  cursor: pointer;
  color: #E0766F;
  margin-left: 10px;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  height:40px;
  width: 250px;
  font-size: 18px;
  border: 2px solid #1E2F3C;
  font-family: 'Pacifico', cursive;
  
}